{<<"app">>,<<"wow_api_elix">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"A Elixir library for Blizzard's World of Warcraft API.">>}.
{<<"elixir">>,<<"~> 1.7">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/api">>,<<"lib/api/api_constants.ex">>,
  <<"lib/api/oauth_api.ex">>,<<"lib/api/wow_api.ex">>,
  <<"lib/api/wow_community_api.ex">>,
  <<"lib/api/wow_community_api_auction.ex">>,
  <<"lib/api/wow_community_api_character.ex">>,<<"lib/exceptions">>,
  <<"lib/exceptions/api_error.ex">>,<<"lib/exceptions/config_error.ex">>,
  <<"lib/models">>,<<"lib/models/achievement.ex">>,
  <<"lib/models/achievement_category.ex">>,<<"lib/models/auction.ex">>,
  <<"lib/models/boss.ex">>,<<"lib/models/class.ex">>,<<"lib/models/item.ex">>,
  <<"lib/models/mount.ex">>,<<"lib/models/pet.ex">>,
  <<"lib/models/protocols">>,<<"lib/models/protocols/model_converter.ex">>,
  <<"lib/models/race.ex">>,<<"lib/models/realm_status.ex">>,<<"lib/utils">>,
  <<"lib/utils/api_utils.ex">>,<<"lib/utils/cache_utils.ex">>,
  <<"lib/utils/list_utils.ex">>,<<"lib/wow_api_elix.ex">>,
  <<"lib/wow_api_elix_settings.ex">>,<<".formatter.exs">>,<<"mix.exs">>,
  <<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"GNU GPLv3">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/kevinbalouch/wow-api-elixir">>}]}.
{<<"name">>,<<"wow_api_elix">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"httpoison">>},
   {<<"name">>,<<"httpoison">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.4">>}],
  [{<<"app">>,<<"poison">>},
   {<<"name">>,<<"poison">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.1">>}],
  [{<<"app">>,<<"cachex">>},
   {<<"name">>,<<"cachex">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.1">>}]]}.
{<<"version">>,<<"0.2.3">>}.
